body {
    padding: 20px;
    background: #0d0d0d;
    color: white;
  }
  
  body.light {
    background: #f3f3f3;
    color: #111;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .backBtn {
    text-decoration: none;
    background: #e61c4d;
    padding: 8px 14px;
    border-radius: 8px;
    color: white;
  }
  
  #movieContainer {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  #movieContainer img {
    width: 280px;
    border-radius: 10px;
  }
  
  .info {
    max-width: 600px;
  }
  
  .info h2 {
    margin-bottom: 10px;
  }
  
  .info a {
    background: #e61c4d;
    padding: 10px;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
  }