* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
  }
  
  body {
    padding: 1.2rem;
    transition: background .3s, color .3s;
  }
  
  body.light {
    background: #f3f3f3;
    color: #111;
  }
  
  body.dark {
    background: #0d0d0d;
    color: white;
  }
  
  /* HEADER */
  header {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .search-box {
    display: flex;
    gap: 8px;
    flex: 1;
  }
  
  input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: none;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background: #e61c4d;
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
  
  .theme-toggle img {
    width: 30px;
    cursor: pointer;
  }
  
  /* FILTERS */
  #filters {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  select {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #222;
    color: white;
  }
  
  body.light select {
    background: #ddd;
    color: #111;
  }
  
  /* MOVIE GRID */
  #movieList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
   
  }
  
  .movieCard {
    background: #181818;
    border-radius: 10px;
    overflow: hidden;
    transition: transform .2s;
    cursor: pointer;
    /* display:flex;
    flex-direction: column;
    justify-content: space-evenly; */
  }
  
  .movieCard:hover {
    transform: scale(1.03);
  }
  
  body.light .movieCard {
    background: #c1bfbf;
}
  
  .movieCard img {
    width: 100%;
    height : 70%;
    object-fit: cover;
  }
  
  .content{
    /* margin-top : auto; */
    /* border-top : 1px dotted white; */
    display : flex;
    flex-direction: column;
    justify-content : space-around;
    height : 30%;
    padding-bottom : 15px;
    /* bottom : 0; */
    /* justify-content: center; */
    /* color : black; */
  }
  .content button{
    margin-top : auto;
  }

  .movieCard h3 {
    font-size: 1em;
    margin: 10px;
  }
  
  .movieCard p {
    margin: auto 10px 8px 10px;
    opacity: 0.7;
  }
  
  /* PAGINATION */
  #pagination {
    margin: 20px auto;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }